.title{
    font-style: oblique;
    text-align: center;
}
.containers{
    display:flex;
}

.container-1{
    text-align: center;
    justify-content: left;
    background-color: rgb(230, 221, 210);
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 15px;
}
.container-2{
    text-align: center;
    background-color: rgb(230, 221, 210);
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 15px;
}
.container-3{
    text-align: center;
    background-color: rgb(230, 221, 210);
    margin-left: 5px;
    margin-right: 15px;
    border-radius: 15px;
}
.img-section{
    display: flex;
    flex-wrap: wrap;
}
.jennifer{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px;
}
